@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

/*IMTF*/
.imtf-hero{
    background: url(../img/icos/bg_imtf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 0;
    flex-direction: row;
}

#logo {
    width: 49%;
    display: inline-block;
    text-align: right;
}

#logo img{
    width: 365px;
    margin: 80px;
}

#imtf-title, #imtf-title p {
    color: #fff;
}

#imtf-title{
    width: 700px;
    padding: 250px 100px 80px;
    display: inline-block;
}

main h2 {
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 42px;
}

#imtf-title p, #leonteq-title p {
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 24px;
}

.content {
    font-family: 'Noto Sans', sans-serif;
    color: #000;
}

.content p {
    font-family: 'Noto Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 0 20px 0;
}

.content li {
    font-family: 'Noto Sans', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: disc;
    margin-left: 20px;
}

.content h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.content h3 {
    font-family: 'Amiri', serif;
    font-size: 120px;
    font-weight: 400;
    height: 120px;
}

.rightHeading h3:after {
    background-color: #BFBFBF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    top: -10px;
    vertical-align: middle;
    width: 94.5%;
}

.rightHeading span{
    position: relative;
    top: -27px;
    left: 65px;
}

.icon2{
    text-align: center;
}

.about:nth-child(1){
    background: url(../img/icos/01-icon.png);
    background-repeat: no-repeat;
    background-position: 92% 106%;
}

.leftHeading h3 {
    text-align: right;
}

.leftHeading h3:before {
    background-color: #BFBFBF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    top: -10px;
    vertical-align: middle;
    width: 94.5%;
}

.leftHeading span {
    position: relative;
    top: -27px;
    left: -66px;
    text-align: right;
    float: right;
}

.imageContent img {
    padding-bottom: 20px;
}

.icon{
    text-align: center;
}

/*END OF IMTF*/

/*LEONTEQ*/

.leonteq-bg{
    height: 670px;
    background: url(../img/leonteq/01-hero.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.leonteq-hero{
background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #F5F5F5 100%);
    height: 670px;
    margin-bottom: 40px;
}

#leonteq-title {
    width: 700px;
    padding: 200px 100px 80px;
    display: inline-block;
}

#leonteq-title, #leonteq-title p {
    color: #454545;
}

#leonteq-team {
    width: 240px;
    height: auto;
    background: #F49800;
    padding: 30px;
    margin-left: 100px;
}

#leonteq-team ul{
    margin-bottom: 0;
}

#leonteq li {
    padding-top: 10px;
}

#leonteq li:nth-child(1) {
    padding-top: 0;
    font-weight: bold;
}

.leonteq-whiteboard {
    background-image: url(../img/leonteq/01-01.jpg);
    background-repeat: no-repeat;
    background-size: 70% auto;
    min-height: 680px;
}

.leonteq-requirements{
    background: #fff;
    padding: 10px 30px;
    margin-top: 240px;
    left: -40px;
    height: fit-content;
}

figcaption {
    color: #AFAFAF;
    font-size: 12px;
    margin-left: 24px;
}

/*END OF LEONTEQ*/

/*SWISSRE*/

.swissre-hero{
    background: url(../img/swissre/swissre-hero.png);
    background-color: #1AAE8E;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 0;
    flex-direction: row;
    background-position: 400px 40%;
}

#swissre-logo {
    width: 200px;
    display: inline-block;
    text-align: right;
    margin: 240px 80px 80px;
}

#swissre-title {
    margin-left: 80px;
    padding-bottom: 200px;
    color: #fff;
    width: 500px;
}

#swissre-title p, #swissre-title h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

.sr-01 {
    text-align: center;
}

.sr-01 img {
    width: 70%;
    margin: 20px;
}

.centered {
    text-align: center;
}

.centered h3 {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    font-size: 3.5em;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 600;
}

.greenbg {
    background-color: #1AAE8E;
}

#project-reset li {
    color: #fff;
    padding-bottom: 20px;
}

#project-reset {
    width: 380px;
    margin-top: 40px;
}

#ux-process {
    background: #fff;
    padding: 30px;
}
#ux-process li{
    list-style-type: decimal;
    font-weight: 600;
    color: #3C7168;
    padding: 7px;
}

.trianglebg {
    background-color: #1AAE8E;
    background: linear-gradient(to bottom right, #1AAE8E 20%, #1AAE8E 50%, #fff 50%, #fff 100%);
}

.ux-research-title h3{
    font-size: 2.5em;
    color: #3C7168;
    font-family: 'Noto Sans', sans-serif;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: bold;
    margin: 50px;
    height: auto;
}

.ux-research-title-white h3{
    font-size: 2.5em;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: bold;
    margin: 50px;
    height: auto;
}

.trianglebg-bottom {
    background-color: #1AAE8E;
    background: linear-gradient(to bottom left, #fff 0%, #fff 50%, #1AAE8E 50%, #1AAE8E 100%);
}

.greenbg figcaption {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.animation {
    width: 50%;
    margin: 0 auto;
}